
    <div class="col-xs-3">
       <h2>User info</h2>
       <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '100x100' %>
       <table class="table">
         <tbody>
           <tr></tr>
           <tr>
             <th>name</th>
             <th><%= @user.name %></th>
           </tr>
           <tr>
             <th>introduction</th>
             <th><%= @user.introduction %></th>
           </tr>
         </tbody>
       </table>
       <div class="row">
           <% if @user == current_user %>
           <p><%= link_to "", edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
           <% end %>
       </div>

       <h2>New book</h2>

       <%= form_for @bookn do |f| %>
         <% if @bookn.errors.any? %>
           <div id="error_explanation" class="alert alert-danger">
           <h2 class="error-text"><%= @bookn.errors.count %>errors prohibited this book from being saved:</h2>
           <ul>
             <% @bookn.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
           </ul>
           </div>
         <% end %>

         <div class="field row">
           <%= f.label :Title, class: "label_title" %><br>
           <%= f.text_field :title, class: "book_title col-xs-12" %>
         </div>

         <div class="field row">
           <%= f.label :Opinion, class: "label_body" %><br>
           <%= f.text_area :body, class: "book_body col-xs-12" %>
         </div>

         <div class="actions row">
           <%= f.submit ' Create Book ', class: "btn btn-color col-xs-12"%>
         </div>
       <% end %>
    </div>