<div class="box">

  <div class="text"><h1>Editing book</h1>

    <%= form_for(@book) do |f| %>

     <% if @book.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
              <h2 class="error-text"><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
              </div>
      <% end %>

      <div class="field">
        <%= f.label :title, class: "label-title" %><br>
        <%= f.text_field :title, class: "book-title" %>
      </div>

      <div class="field">
        <%= f.label :body, class: "label-body" %><br>
        <%= f.text_area :body, class: "book-body" %>
      </div>

       <p class="botan"><%= f.submit ' update Book ' %></p>
    <% end %>

	  <p>
	  	<%= link_to "Show", book_path(@book),
	     class: "show_#{@book.id}" %>
	     |
	  <%= link_to "Back", books_path,
	   class: "back" %>
	  </p>
  </div>
</div>