<div class="container">
  <div class="row">
    <p id="notice"><%=  notice %></p>

    <%= render 'books/list' %>

    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
         <tr>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
         </tr>
        </thead>

        <tbody>
           <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image,  format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '30x30' %>
              <%= link_to user_path(@book.user.id) do %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book.id),
              class: "show_#{@book.id}" %></td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
               <%= link_to "Edit", edit_book_path(@book),
                 class: "edit_#{@book.id} btn-color2" %>
            </td>
            <td>
               <%= link_to "Destroy", book_path(@book.id),
                method: :delete,  data: { confirm: 'Are you sure？' }, class: "destroy_#{@book.id} btn-color3" %>
               <% end %>
            </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>